@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro-Variable.ttf') format('truetype');
}

:root {
  --link-color: #05386e;
  --link-color-hover: #025dbf;
  --content-max-width: 768px;
  --header-height: 3rem;
  --header-inner-height: 2rem;
  @media screen and (min-width: 768px) {
    --header-height: 5rem;
    --header-inner-height: 4rem;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-family:
    'Source Code Pro for Powerline',
    'Source Code Pro',
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
main {
  padding-block: var(--header-height) 3rem;
  display: block;
  max-width: var(--content-max-width);
  padding-inline: 1rem;
  min-height: 100vh;
  box-sizing: border-box;
  margin-inline: auto;
}

h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: inherit;
  color: var(--link-color);
  &:hover {
    color: var(--link-color-hover);
  }
}

pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
}
pre {
  background-color: rgba(55, 65, 81, 1);
  border-radius: 0.25rem;
  color: rgba(229, 231, 235, 1);
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  overflow: scroll;
  padding: 0.5rem 0.75rem;
}

.shadow {
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.rounded {
  border-radius: 1.5rem;
}
.wrapper {
  width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgba(55, 65, 81, 1);
  width: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.1;
}

h1 {
  margin-block: 2.5rem 1rem;
  font-size: 3rem;
}

h2 {
  margin-block: 2rem 1rem;
  font-size: 2rem;
}

h3 {
  margin-block: 1.5rem 1rem;
  font-size: 1.5rem;
}

h4 {
  margin-block: 1.2rem 0.75rem;
  font-size: 1.2rem;
}
